/* @media(max-width: 768px){ */
  
  /* body {
    background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-background-elegant-black-with-gold-line-side-2-picture-image_1576336.jpg);
  }

  .nav  {
    display: flex;
    background-color: black;
  }


  .a{
    margin-right: 30%;
    text-decoration: none;
    font-size: 80%;
    color:  dimgrey;
  }

  #iconowp{
    width: 10%;

  }

    button{
      background-color: goldenrod;
      width: 160px;
      height: 30px;
    }

} */




/* @media (min-width: 768px){ */
 

body {
  background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-background-elegant-black-with-gold-line-side-2-picture-image_1576336.jpg);
}

nav  {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
 
}
button{
  background-color: goldenrod;
  width: 160px;
  height: 30px;
}
legend{
  color: dimgrey;
}

#iconowp{
  width: 30px;
  padding-right: auto;
}
.a{
 justify-content: space-between;
  text-decoration: none;
  font-size: 200%;
  color:  dimgrey;
}

h1{
  display: flex;
  font-size: 300%;
  color: dimgrey;
  justify-content: center;
}

section{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
p{
  color: dimgrey;
  font-size:150%;
}
.version {
  display: flex;
  font-size: 200%;
 justify-content: center;
  margin-top: 10%;

}


input{
  font-size: 50%;
  color: black;}

/* } */