body {
  /* background-color: rgb(44, 41, 41); */
  background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-background-elegant-black-with-gold-line-side-2-picture-image_1576336.jpg);
}

nav  {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
 
}

legend{
  color: dimgrey;
}
#wasap{
  text-decoration: none;
  font-size: 200%;
  color:  dimgrey;
  
}

#iconowp{
  padding-right: auto;
}
.a{
  text-decoration: none;
  font-size: 200%;
  color:  dimgrey;
}

h1{
  display: flex;
  font-size: 700%;
  color: dimgrey;
  justify-content: center;
}

.version {
  display: flex;
  font-size: 300%;
  justify-content: center;
  margin-top: 20%;

}


label{color:  dimgrey;}