body {
  /* background-color: rgb(44, 41, 41); */
  background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-background-elegant-black-with-gold-line-side-2-picture-image_1576336.jpg);
}

nav  {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
 
}

#wasap{
  text-decoration: none;
  font-size: 200%;
  color: rgb(58, 56, 56);
  
}

#iconowp{
  padding-right: auto;
}
.a{
  text-decoration: none;
  font-size: 200%;
  color: rgb(58, 56, 56);
}

h1{
  display: flex;
  font-size: 350%;
  color: dimgrey;
  justify-content: center;
}

.version {
  display: flex;
  font-size: 300%;
  justify-content: center;
  margin-top: 30%;

}


label{color: rgb(58, 56, 56);}